<form class="{{ cssClass }} {{ actor.type }} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{ actor.img }}"
      data-edit="img"
      title="{{ actor.name }}"
      height="100"
      width="100"
    />
    <div>
      <label>Hit points</label>
      <span class="sheetValue">0</span>

      <label>Power points</label>
      <span class="sheetValue">{{ sheet.special.powerPoints }}</span>
    </div>
  </header>

  <section>
    <div class="resources flexrow">
      <div class="resource" style="padding-right: 5px">
        {{> "systems/merp/templates/actors/partials/actor-details.hbs" }}
      </div>
      <div class="resource flex-group-center" style="padding-right: 5px">
        {{> "systems/merp/templates/actors/partials/actor-abilities.hbs" }}
      </div>
      <div class="resource flex-group-center">
        {{> "systems/merp/templates/actors/partials/actor-special.hbs" }}
      </div>
    </div>
  </section>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Owned Skills Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      {{> "systems/merp/templates/actors/partials/actor-skills.hbs"}}
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/merp/templates/actors/partials/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells"></div>

    {{!-- Active Effects Tab --}}
    <div
      class="tab effects flexcol"
      data-group="primary"
      data-tab="effects"
    ></div>
  </section>
</form>
