<section>
  <table>
    <thead>
      <tr>
        <td>{{ localize 'character.skillColumns.skill' }}</td>
        <td>{{ localize 'character.skillColumns.rank5' }}</td>
        <td>{{ localize 'character.skillColumns.rank2' }}</td>
        <td>{{ localize 'character.skillColumns.rankBonus' }}</td>
        <td>{{ localize 'character.skillColumns.statBonus' }}</td>
        <td>{{ localize 'character.skillColumns.professionBonus' }}</td>
        <td>{{ localize 'character.skillColumns.itemBonus' }}</td>
        <td>{{ localize 'character.skillColumns.specialBonus' }}</td>
        <td>{{ localize 'character.skillColumns.specialBonus' }}</td>
        <td>{{ localize 'character.skillColumns.totalBonus' }}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ localize 'MERP.weaponSkills.oneHandedEdged' }}</td>
        <td>
          <div class="flexrow">
            <div class="rank"></div>
            <div class="rank"></div>
            <div class="rank"></div>
            <div class="rank"></div>
            <div class="rank"></div>
            <div class="rank"></div>
            <div class="rank"></div>
            <div class="rank"></div>
            <div class="rank"></div>
            <div class="rank"></div>
          </div>
        </td>
        <td>
          <div class="flexrow">
            <div class="rank"></div>
            <div class="rank"></div>
            <div class="rank"></div>
            <div class="rank"></div>
            <div class="rank"></div>
          </div>
        </td>
        <td>
          25
        </td>
        <td>AG 10</td>
        <td>5</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>45</td>
      </tr>
    </tbody>
  </table>
</section>